*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  background-color: rgb(65, 62, 202);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.color-content {
  overflow: hidden;
  @include flexCenter();
  flex-direction: column;
  margin-bottom: 10rem;
  padding: 2rem 0;

  h3 {
    font-size: 3.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-transform: capitalize;
  }

  .color-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: 100;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:active {
    }
  }
}

.clock {
  overflow: hidden;
  color: white;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  border: 0.5rem solid white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    z-index: 10;
  }
}

.num {
  padding: 2rem;
  --numRotate: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;

  transform: rotate(calc(var(--numRotate) * 1deg));

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 1.5rem;
    width: 0.3rem;
    background-color: #fff;
  }

  div {
    --inRotate: 0;
    transform: rotate(calc(var(--inRotate) * 1deg));
    font-size: 3rem;
  }
}

.hand {
  --handRotate: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 10px;
  transform: translate(-50%) rotate(calc(var(--handRotate) * 1deg));
}

.hour {
  --handRotate: 30;
  height: 35%;
  width: 1.2rem;
  background-color: #fff;
  z-index: 1;
}
.min {
  --handRotate: 200;
  height: 40%;
  width: 0.7rem;
  background-color: #fff;
  z-index: 2;
}
.sec {
  --handRotate: 300;
  height: 45%;
  width: 0.3rem;
  background-color: red;
  z-index: 3;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 587px) {
  html {
    font-size: 40%;
  }
}
